* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('assets/fonts/avenirnextcyr-medium.svg'); /* IE 9 Compatibility Mode */
  src: url('assets/fonts/avenirnextcyr-medium.svg') format('embedded-opentype'), /* IE < 9 */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('assets/fonts/avenirnextcyr-medium.svg') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/avenirnextcyr-medium.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}

$opacity: 0.6;
$colorFonts: #414140;

html,
body {
  height: 100%;
  font-family: 'AvenirNextCyr-Medium', sans-serif;
  color: $colorFonts;
  font-style: normal;
  line-height: 1.2;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

._container {
  max-width: 1205px;
  margin: 0 auto;
  padding: 0 15px;
}

.breadcrumb_nav {
  margin: 32px 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 8px;

  .link_text {
    text-decoration: none;
    display: inline;
    border-bottom: 1px solid $colorFonts;
    color: $colorFonts;
  }
}

.img-and-basket-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.images {
  max-width: 770px;

  img {
    margin-bottom: 24px;
    width: 100%;
    max-height: 434px;

    &:last-child {
      margin: 0;
    }
  }
}

.delivery,
.btn {
  margin-bottom: 24px;
}

.basket {

  h1 {
    line-height: 1.4;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.delivery {
  display: flex;
  align-items: center;
  gap: 19px;
  height: 48px;
  font-size: 14px;
  background-color: #F5F7F9;

  span {
    font-weight: bold;
  }
}

.btn {
  width: 367px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FFDA00;
  color: $colorFonts;

  &:hover {
    background-color: #ffdf6c;
  }

}

.selected_items_and_total_price {

  .price_for_one_item {
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $colorFonts;
    margin-top: 8px;
    opacity: $opacity;
  }

  .final_price_wrapper {
    max-width: 352px;
    height: 63px;
    margin: 8px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .final_price {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .final_price_text {
        font-weight: 400;
        font-size: 14px;
      }

      .kit_price {
        font-weight: 700;
        font-size: 28px;
      }
    }

    a {
      text-decoration: none;
      max-width: 126px;

      .price_notice {
        font-weight: 400;
        font-size: 12px;
        border-bottom: 1px solid $colorFonts;
        color: $colorFonts;
        opacity: $opacity;
      }
    }
  }
}

.grey_colour {
  background-color: #F5F7F9;
}

.basket_table {
  width: 100%;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e6e6e8;

  .product_name {
    font-weight: 400;
    padding-left: 8px;
  }

  .product_price {
    font-weight: 700;
  }

  tr {
    height: 47px;

    td {
      max-width: 170px;
      padding: 0 11px 0;
    }
  }

  .first_cell {
    max-width: 13px;
  }

  .third_cell {

  }

  .pyat {
    border: 1px solid rgba(65, 65, 64, 0.1);
    width: 36px;
    height: 25px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 16px;
    text-align: center;
    color: $colorFonts;
    opacity: $opacity;

    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
}


.contacts {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.call_us {
  font-weight: 400;
  font-size: 16px;
}

.phone_number {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid $colorFonts;
}

// =================== ТАБЛИЦА ХАРАКТЕРИСТИКИ И ОПИСАНИЕ ===================


.characteristics_and_description {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;

  .characteristics_and_description_text {
    font-weight: 700;
    font-size: 24px;
    color: $colorFonts;
    margin-bottom: 24px;
  }

  .characteristics_and_description_table {
    border-spacing: 0;
    border-collapse: collapse;
  }


  .characteristics {
    width: 570px;

    .characteristics_item td {
      width: 285px;
      height: 40px;
      font-size: 14px;

      &:first-child {
        font-weight: 400;
        padding-left: 32px;
      }

      &:last-child {
        font-weight: 700;
      }
    }
  }

  .description {
    max-width: 570px;

    .description_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      max-height: 254px;
      overflow: hidden;
      position: relative;

      .second_p {
        margin-top: 15px;
      }

      .button_read_full {
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        width: 100%;
        height: 80px;
        opacity: 1;
        transition: .3s;
      }
    }
  }

  .read_more_checker {
    opacity: 0;
    position: absolute;
  }

  .read_more_button {
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    border-bottom: 1px dashed #FFDA00;
    color: $colorFonts;
  }

  .read_more_checker ~ .read_more_button:after {
    content: 'Читать полностью';
  }

  .read_more_checker:checked ~ .read_more_button:after {
    content: 'Свернуть текст';
  }

  .read_more_checker:checked ~ .description_text {
    max-height: none;
  }

  .read_more_checker:checked ~ .description_text .button_read_full {
    opacity: 0;
    transition: .3s;
  }
}


.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s; // анимация c замедлением появления popup

  /*
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target .popup__content { // анимация с выездом сверху popup
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    //transform: translate(0px, 0px); // анимация с выездом сверху popup
    opacity: 1;
  }
  // для анимации бех js
  */
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content { // анимация с выездом сверху popup
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  //transform: translate(0px, 0px); // анимация с выездом сверху popup
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #FFFFFF;
  //color: $colorFonts;
  max-width: 370px;
  max-height: 390px;
  padding: 32px 32px 32px 25px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  //transform: translate(0px, -100%); // анимация popup с выездом сверху
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg); // анимация с выездом с разворотом
}

.popup__close img {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.popup__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 4px;

}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-spacing: 4px;
  margin-bottom: 24px;
}

.form__group {
  border: 1px solid rgba(65, 65, 64, 0.1);
  max-width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  .art-stranger {
    border: none;
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
  }
}

.form__group img {
  width: 18px;
  border-radius: 100%;
  margin: 15px;
  border: 1px solid rgba(65, 65, 64, 0.1);
}

.btn__popup {
  max-width: 100%;
  margin: 12px 0 18px;
}

.footer__popup {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  opacity: 0.5;

  .footer__popup-border {
    border-bottom: 1px solid $colorFonts;
  }
}













