/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------------------------*/

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('assets/fonts/avenirnextcyr-medium.svg'); /* IE 9 Compatibility Mode */
  src: url('assets/fonts/avenirnextcyr-medium.svg') format('embedded-opentype'), /* IE < 9 */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('assets/fonts/avenirnextcyr-medium.svg') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/avenirnextcyr-medium.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}

$opacity: 0.6;
$colorFonts: #414140;

html,
body {
  height: 100%;
  font-family: 'AvenirNextCyr-Medium', sans-serif;
  color: $colorFonts;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  max-width: 100%;
  padding: 32px 0;
}

._container {
  max-width: 1205px;
  margin: 0 auto;
}

.breadcrumbs__content {
  padding: 0 15px;
  display: flex;
  align-items: center;
  gap: 8px;

  .breadcrumbs__link-text {
    text-decoration: none;
    display: inline;
    border-bottom: 1px solid $colorFonts;
    color: $colorFonts;
  }
}

.img-and-basket__content {
  margin: 32px 0 0 0;
  display: flex;
  flex-wrap: nowrap;
}

.images {
  flex: 1 0 578px;
  margin: 0 15px;

  img {
    margin-bottom: 24px;
    width: 100%;

    &:last-child {
      margin: 0;
    }
  }
}

.basket__delivery,
.btn {
  margin-bottom: 24px;
  width: 100%;
}

.basket {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

h1 {
  line-height: 1.4;
  font-weight: 700;
  font-size: 32px;
  margin: 0 0 16px 0;
}

.basket__delivery {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  height: 48px;
  font-size: 14px;
  background-color: #F5F7F9;
}

.basket__delivery_delivery-and-installation {
  font-weight: bold;
}

.btn {
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FFDA00;
  color: $colorFonts;

  &:hover {
    background-color: #ffdf6c;
  }
}

.table-product__wrapper {
}

.table-product__content {
  width: 100%;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e6e6e8;

  & tr:nth-child(even) {
    background-color: #F5F7F9;
  }
}

.table__product-name {
  font-weight: 400;
}

.table__product-price_price {
  font-weight: 700;
}

tr {
  height: 47px;
}

tr img {
  margin: 0 10px;
}

.table__input-number {
  border: 1px solid rgba(65, 65, 64, 0.1);
  max-width: 36px;
  height: 25px;
  font-weight: 400;
  font-size: 14px;
  margin-left: 6px;
  text-align: center;
  color: $colorFonts;
  opacity: $opacity;

  &::-webkit-inner-spin-button {
    opacity: 1;
  }
}

.price-for-one-item-text {
  display: flex;
  justify-content: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: $colorFonts;
  margin-top: 8px;
  opacity: $opacity;
}

.final-price {
  max-width: 352px;
  height: 63px;
  margin: 8px 0 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .final-price__content {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .final-price__content_text {
      font-weight: 400;
      font-size: 14px;
    }

    .final-price__content_kit-price {
      font-weight: 700;
      font-size: 28px;
    }
  }

  .final-price__link {
    text-decoration: none;
    max-width: 126px;

    .price_notice {
      font-weight: 400;
      font-size: 12px;
      border-bottom: 1px solid $colorFonts;
      color: $colorFonts;
      opacity: $opacity;
    }
  }
}

@media (max-width: 1000px) {
  .images {
    flex: 1 1 auto;
  }
  .basket {
    margin: 30px auto;
  }
  .characteristics-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px auto;
  }
  .img-and-basket__content {
    flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  .img-and-basket__content {

  }
  .basket {
    padding: 0 15px;
    width: 100%;
  }

  .basket__delivery {
    display: flex;
    justify-content: space-between;
    gap: 0;
  }

  .basket__delivery_item-1 {
    order: 3;
    max-width: 40px;
  }

  .basket__delivery_item-2 {
    order: 1;
    font-weight: 700;
  }
  .basket__delivery_item-3 {
    order: 2;
    font-size: 12px;
  }

  .table-product__content {
    border-left: 0;
    border-right: 0;
  }

  tr img {
    margin-right: 10px;
  }

  .table-product__content tr {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  td .table__product-name {
    display: block;
    min-width: 145px;
  }

  .characteristics-and-description {
    margin: 56px 0;

    .characteristics-and-description__characteristics {
      .characteristics-table__item td {

        &:first-child {
          padding: 0;
        }
      }
    }
  }
}

.contacts {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.contacts__call-us {
  font-weight: 400;
  font-size: 16px;
}

.contacts__phone-number {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid $colorFonts;
}

// =================== ТАБЛИЦА ХАРАКТЕРИСТИКИ И ОПИСАНИЕ ===================

.characteristics-and-description__title {
  font-weight: 700;
  font-size: 24px;
  color: $colorFonts;
}

.characteristics-and-description {
  padding: 0 15px;
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.characteristics-and-description__characteristics {
  max-width: 570px;
}

.characteristics-table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 24px 0 56px;
}

.characteristics-table__item:nth-child(even) {
  background-color: #F5F7F9;
}

.characteristics-table__item td {
  width: 285px;
  height: 40px;
  font-size: 14px;

  &:first-child {
    font-weight: 400;
    padding-left: 32px;
  }

  &:last-child {
    font-weight: 700;
  }
}

.characteristics-and-description__description {
  max-width: 570px;

  .description-text {
    margin: 24px 0 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;

    max-height: 254px;
    overflow: hidden;
    position: relative;

    .bottom {
      position: absolute;
      bottom: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      width: 100%;
      height: 80px;
      opacity: 1;
      transition: .3s;
    }
  }

  .read-more-checker {
    opacity: 0;
    position: absolute;
  }

  .read-more-button {
    margin-bottom: 56px;
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    border-bottom: 1px dashed #FFDA00;
    color: $colorFonts;
  }

  .read-more-checker ~ .read-more-button:after {
    content: 'Читать полностью';
  }

  .read-more-checker:checked ~ .read-more-button:after {
    content: 'Свернуть текст';
  }

  .read-more-checker:checked ~ .description-text {
    max-height: none;
  }

  .read-more-checker:checked ~ .description-text .bottom {
    opacity: 0;
    transition: .3s;
  }
}

// ============= popup ===================

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s; // анимация c замедлением появления popup

  /*
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &:target .popup__content { // анимация с выездом сверху popup
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    //transform: translate(0px, 0px); // анимация с выездом сверху popup
    opacity: 1;
  }
  // для анимации бех js
  */
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content { // анимация с выездом сверху popup
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  //transform: translate(0px, 0px); // анимация с выездом сверху popup
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #FFFFFF;
  max-width: 370px;
  max-height: 390px;
  padding: 32px 32px 32px 25px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  //transform: translate(0px, -100%); // анимация popup с выездом сверху
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg); // анимация с выездом с разворотом
}

.popup__close img {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.popup__title {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 4px;
}

.popup__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  word-spacing: 4px;
  margin-bottom: 24px;
}

.form__group {
  border: 1px solid rgba(65, 65, 64, 0.1);
  max-width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  .art-stranger {
    border: none;
    font-family: 'Avenir Next Cyr', sans-serif;
    font-weight: 400;
    font-size: 16px;
    outline: none;
  }
}

.form__group img {
  width: 18px;
  border-radius: 100%;
  margin: 15px;
  border: 1px solid rgba(65, 65, 64, 0.1);
}

.btn__popup {
  max-width: 100%;
  margin: 12px 0 18px;
}

.footer__popup {
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  opacity: 0.5;

  .footer__popup-border {
    border-bottom: 1px solid $colorFonts;
  }
}



















