* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'AvenirNextCyr-Medium';
  src: url('assets/fonts/avenirnextcyr-medium.svg'); /* IE 9 Compatibility Mode */
  src: url('assets/fonts/avenirnextcyr-medium.svg') format('embedded-opentype'), /* IE < 9 */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff2'), /* Super Modern Browsers */
  url('assets/fonts/avenirnextcyr-medium.svg') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('assets/fonts/avenirnextcyr-medium.svg') format('truetype'), /* Safari, Android, iOS */
  url('assets/fonts/avenirnextcyr-medium.svg') format('svg'); /* Chrome < 4, Legacy iOS */
}

$opacity: 0.6;
$colorFonts: #414140;


.bodyWrapper {
  font-family: 'AvenirNextCyr-Medium', sans-serif;
  font-style: normal;
  margin: 0 auto;
  //border: 1px solid red;
  max-width: 1170px;
  line-height: 1.2;
  color: $colorFonts;
}

.breadcrumb_nav {
  margin: 32px 0;
}


.breadcrumb {
  //border: 1px solid green;
  display: flex;
  align-items: center;
  gap: 8px;

  .link_text {
    text-decoration: none;
    display: inline;
    border-bottom: 1px solid $colorFonts;
    color: $colorFonts;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.images {
  //border: 1px solid blueviolet;
  max-width: 770px;

  img {
    margin-bottom: 24px;
    width: 100%;
    max-height: 434px;

    &:last-child {
      margin: 0;
    }
  }
}

.delivery,
.btn {
  margin-bottom: 24px;
}

.basket {

  h1 {
    line-height: 1.4;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 16px;
  }
}

.delivery {
  display: flex;
  align-items: center;
  gap: 19px;
  height: 48px;
  font-size: 14px;
  background-color: #F5F7F9;

  span {
    font-weight: bold;
  }
}

.btn {
  width: 367px;
  height: 56px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #FFDA00;
  color: $colorFonts;

  &:hover {
    background-color: #ffdf6c;
  }

}

.selected_items_and_total_price {
  //border: 1px solid chocolate;

  .price_for_one_item {
    display: flex;
    justify-content: right;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: $colorFonts;
    margin-top: 8px;
    opacity: $opacity;
  }

  .final_price_wrapper {
    max-width: 352px;
    height: 63px;
    //border: 1px solid blueviolet;
    margin: 8px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .final_price {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .final_price_text {
        font-weight: 400;
        font-size: 14px;
      }

      .kit_price {
        font-weight: 700;
        font-size: 28px;
      }
    }


    a {
      text-decoration: none;
      max-width: 126px;


      .price_notice {
        font-weight: 400;
        font-size: 12px;
        border-bottom: 1px solid $colorFonts;
        color: $colorFonts;
        opacity: $opacity;
      }
    }
  }
}

.grey_colour {
  background-color: #F5F7F9;
}

.basket_table {
  width: 100%;
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #e6e6e8;

  .product_name {
    font-weight: 400;
    padding-left: 8px;
  }

  .product_price {
    font-weight: 700;
  }

  tr {
    height: 47px;
    //border: 1px solid black;


    td {
      max-width: 170px;
      padding: 0 11px 0;
    }
  }

  .first_cell {
    max-width: 13px;
  }

  .third_cell {

  }

  .pyat {
    border: 1px solid rgba(65, 65, 64, 0.1);
    width: 36px;
    height: 25px;
    font-weight: 400;
    font-size: 14px;
    margin-left: 16px;

    text-align: center;
    color: $colorFonts;
    opacity: $opacity;

    &::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
}


.contacts {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.call_us {
  font-weight: 400;
  font-size: 16px;
}

.phone_number {
  margin-top: 8px;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 1px solid $colorFonts;
}

// =================== ТАБЛИЦА ХАРАКТЕРИСТИКИ И ОПИСАНИЕ ===================


.characteristics_and_description {
  margin: 48px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;

  .characteristics_and_description_text {
    font-weight: 700;
    font-size: 24px;
    color: $colorFonts;
    margin-bottom: 24px;
  }

  .characteristics_and_description_table {
    border-spacing: 0;
    border-collapse: collapse;
  }


  .characteristics {
    //border: 1px solid green;
    width: 570px;

    .characteristics_item td {
      width: 285px;
      height: 40px;
      font-size: 14px;

      &:first-child {
        font-weight: 400;
        padding-left: 32px;
      }

      &:last-child {
        font-weight: 700;
      }
    }
  }

  .description {
    //border: 1px solid red;
    max-width: 570px;

    .description_text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.6;
      max-height: 254px;
      overflow: hidden;
      position: relative;

      .second_p {
        margin-top: 15px;
      }

      .button_read_full {
        position: absolute;
        bottom: 0;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
        width: 100%;
        height: 80px;
        opacity: 1;
        transition: .3s;
      }
    }
  }

  .read_more_checker {
    opacity: 0;
    position: absolute;
  }

  .read_more_button {
    cursor: pointer;
    display: inline-block;
    padding-top: 5px;
    border-bottom: 1px dashed #FFDA00;
    color: $colorFonts;
  }

  .read_more_checker ~ .read_more_button:after {
    content: 'Читать полностью';
  }

  .read_more_checker:checked ~ .read_more_button:after {
    content: 'Свернуть текст';
  }

  .read_more_checker:checked ~ .description_text {
    max-height: none;
  }

  .read_more_checker:checked ~ .description_text .button_read_full {
    opacity: 0;
    transition: .3s;
  }

}










